/* Article List Specific CSS */

.title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.date {
  font-size: var(--default-font-size);
  color: #999999;

  margin-top: 15px;
  margin-bottom: 5px;
}

.author {
  font-size: var(--default-font-size);
  color: #999999;

  margin-top: 5px;
  margin-bottom: 15px;
}

.description p {
  line-height: 1.4;

  margin-top: 0px;
  margin-bottom: 0px;
}

.read-more {
  margin-top: 15px;
  margin-bottom: 15px;
}

#content hr {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.footer {
  display: flex;
  position: relative;
  align-items: center;
}

.footer .page {
  margin-left: auto;
  margin-right: auto;
}

.footer .left {
  position: absolute;
  left: 0;
}

.footer .right {
  position: absolute;
  right: 0;
}
