.article p {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 16px;

  color: #999999;
}

.title-date {
  padding-bottom: 5px;
}

.author {
  padding-top: 5px;
}

hr {
  border: 1px solid #eeeeee;
  border-radius: 1px;
}
