:root {
  /* MMS Colorscheme */
  --mms-blue: rgb(0, 114, 206);
  --mms-brown: rgb(154, 51, 36);
  --mms-yellow: rgb(255, 199, 44);

  --bg-color: #eaeaea;
  --fg-color: #ffffff;

  /* Default Font Family & Size */
  --default-font-family: "Lato", sans-serif;

  --default-font-size: clamp(0.75rem, 0.5vw 0.5rem, 3rem);
  --large-font-size: clamp(1.2rem, 0.6vw + 0.5rem, 3.2rem);;
  --small-font-size: clamp(0.6rem, 0.4vw + 0.5rem, 2.8rem);;

  --nav-height: 48px;

  --nav-padding: 15px;
  --left-right-padding: 25px;
  --content-padding: 15px;

  --nav-border: 2px;
}

/* This is important because it make everything more orderly*/

html {
  scroll-behavior: smooth;

  scroll-padding-top: calc(var(--nav-height) + 2 * var(--nav-padding) + var(--nav-border));
}

body {
  margin: 0px;

  background-color: var(--bg-color);
}

/* Configuration for content */

#content-wrapper {
  margin: 20px auto 20px auto;

  border-radius: 15px;

  background-color: var(--fg-color);
}

#content {
  padding: var(--content-padding);
  
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);

  overflow-x: auto;
}

/* End of configuration for content */

/* Top navigation for desktop */

#top-nav-wrapper {
  display: block;

  height: calc(var(--nav-height) + 2 * var(--nav-padding) + var(--nav-border));
}

#top-nav {
  position: fixed;

  display: flex;

  justify-content: space-between;

  top: 0;
  left: 0;
  right: 0;

  z-index: 1;

  height: var(--nav-height);

  padding: var(--nav-padding) var(--left-right-padding) var(--nav-padding) var(--left-right-padding);

  border-bottom: var(--nav-border) solid var(--bg-color);

  background-color: white;
}

#top-nav img {
  height: var(--nav-height);
}

#top-menu {
  display: flex;

  align-items: center;
}

#top-menu a {
  cursor: pointer;

  font-family: var(--default-font-family);
  font-size: var(--small-font-size);

  margin-left: 30px;

  text-decoration: none;

  white-space: nowrap;
}

#top-menu a:link {
  color: var(--mms-blue);
}

#top-menu a:visited {
  color: var(--mms-blue);
}

#top-menu a:hover {
  color: var(--mms-brown);
}

/* End of top navigation for desktop */

/* Top navigation for mobile */

#open-nav-wrapper {
  display: block;

  height: calc(var(--nav-height) + 2 * var(--nav-padding) + var(--nav-border));
}

#open-nav {
  position: fixed;

  display: flex;

  justify-content: space-between;

  top: 0;
  left: 0;
  right: 0;

  z-index: 1;

  height: var(--nav-height);

  padding: var(--nav-padding) var(--left-right-padding) var(--nav-padding) var(--left-right-padding);

  border-bottom: var(--nav-border) solid var(--bg-color);

  background-color: white;
}

#open-nav i {
  font-size: var(--nav-height);

  cursor: pointer;
}

#open-nav img {
  height: var(--nav-height);
}

/* End of top navigation for mobile */

/* Slide menu for mobile */

/* Use to be slide-nav */
#slide-nav {
  position: fixed;

  top: 0%;
  left: -100%;

  margin-top: calc(var(--nav-height) + 2 * var(--nav-padding) + var(--nav-border));
  
  margin-left: auto;
  margin-right: auto;

  overflow: auto;

  z-index: 1;

  width: 100%;
  height: calc(100% - var(--nav-height) - 2 * var(--nav-padding) - var(--nav-border));
  
  background-color: var(--fg-color);

  transition: 0.5s;
}

#slide-nav ul {
  list-style-type: none;
}

#slide-nav li {
  margin: 30px 10px 30px 0px;
}

#slide-nav a {
  cursor: pointer;

  font-family: var(--default-font-family);
  font-size: var(--large-font-size);

  text-decoration: none;
}

#slide-nav a:link {
  color: var(--mms-blue);
}

#slide-nav a:visited {
  color: var(--mms-blue);
}

#slide-nav a:hover {
  color: var(--mms-brown);
}

/* End of dropdown menu for mobile */

/* Widescreen */
@media screen and (min-width: calc(1000px + 2 * 15px)) {
  #content-wrapper {
    width: 1000px;
  }

  /* Display settings for desktop */

  #top-nav-wrapper {
    display: block;
  }

  #top-nav {
    display: flex;
  }

  #top-menu {
    display: flex;
  }

  /* End of display settings for desktop */

  /* Display settings for mobile */

  #open-nav-wrapper {
    display: none;
  }

  #open-nav {
    display: none;
  }

  #slide-menu {
    display: none;
  }

  /* End of display settings for mobile */
}

/* Smallscreen */
@media screen and (max-width: calc(1000px + 2 * 15px - 1px)) {
  #content-wrapper {
    width: calc(100% - 2 * var(--left-right-padding));
  }

  /* Display settings for desktop */

  #top-nav-wrapper {
    display: none;
  }

  #top-nav {
    display: none;
  }

  #top-menu {
    display: none;
  }

  /* End of display settings for desktop */

  /* Display settings for mobile */

  #open-nav-wrapper {
    display: block;
  }

  #open-nav {
    display: flex;
  }

  #slide-nav {
    display: flex;
  }

  /* End of display settings for mobile */
}
