:root {
  /* MMS Colorscheme */
  --mms_blue: rgb(0, 114, 206);
  --mms_brown: rgb(154, 51, 36);
  --mms_yellow: rgb(255, 199, 44);

  /* Default Font Family */
  --default-font-family: "Lato", sans-serif;
}

#content {
  display: flex;
  justify-content: center;
}

#content p {
  /* A sensible default */
  width: 794px;
}

@media (min-resolution: 72dpi) {
  #content p {
    width: 595px;
  }
}

@media (min-resolution: 96dpi) {
  #content p {
    width: 794px;
  }
}

@media (min-resolution: 150dpi) {
  #content p {
    width: 1240px;
  }
}

@media (min-resolution: 300dpi) {
  #content p {
    width: 2480px;
  }
}
